.featured-section {
  margin: 200px 50px;
  color: white;
  z-index: 1;

  /* border: 5px solid red; */
}

.featured-header {
  position: relative;
  padding-bottom: 10px;
  z-index: 1;
  width: fit-content;
}
.featured-header h3 {
  font-family: "Montserrat";

  font-size: 5rem;
  font-weight: 900;
}

.featured-grid {
  z-index: 1;
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
}

.featured-section h6 {
  font-family: "Montserrat";
  font-size: 22px;
  font-weight: 500;
  line-height: 30px;
  width: 40vw;
  background-image: linear-gradient(
    75deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 33.33%,
    rgba(255, 255, 255, 0) 66.7%,
    rgba(255, 255, 255, 0) 100%
  );
  background-size: 300% 100%;
  background-position-x: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: 1s background-position-x ease-in-out;
}

.featured-section h6.is-inview {
  background-position-x: 0%;
}

.featured-grid img {
  transition: clip-path 1s cubic-bezier(0.77, 0, 0.175, 1);
  z-index: 2;
}

.featured-row-layout,
.featured-column-layout {
  display: grid;
  gap: 10px;
  width: fit-content;
}

.featured-row-layout img {
  clip-path: inset(100% 0% 0% 0%);
  width: 100%;
  object-fit: cover;
}

.featured-row-layout.is-inview img {
  clip-path: inset(0% 0% 0% 0%);
}

.featured-column-layout {
  grid-template-columns: 120px auto;
  align-items: flex-end;
}

.featured-column-layout img {
  clip-path: inset(0% 0% 0% 100%);
  width: 70vh;
  object-fit: cover;
}

.featured-column-layout.is-inview img {
  clip-path: inset(0% 0% 0% 0%);
}

.featured-column-layout h6 {
  transform: translateX(120px) rotate(-90deg);
  transform-origin: left bottom;
}
